[alias]
     s = status -s
     ss = status
     cm = commit -m
     diffc = diff --cached
     b = branch
     co = checkout
     ap = add -p

     # drop last commit on local branch
     rela = reset HEAD~1

     t = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'

[core]
     editor = "vim"

# TODO: add delta config
