[submodule "vim-packs/start/nerdtree"]
	path = vim-packs/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim-packs/start/syntastic"]
	path = vim-packs/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim-packs/start/vim-fish"]
	path = vim-packs/start/vim-fish
	url = git@github.com:dag/vim-fish.git
[submodule "vim-packs/start/vim-gitgutter"]
	path = vim-packs/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim-packs/start/vim-airline"]
	path = vim-packs/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim-packs/start/vim-commentary"]
	path = vim-packs/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim-packs/start/vim-colors-solarized"]
	path = vim-packs/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim-packs/start/vim-nerdtree-tabs"]
	path = vim-packs/start/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
